<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one or more
  ~ contributor license agreements.  See the NOTICE file distributed with
  ~ this work for additional information regarding copyright ownership.
  ~ The ASF licenses this file to You under the Apache License, Version 2.0
  ~ (the "License"); you may not use this file except in compliance with
  ~ the License.  You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->
<div class="container-fluid" id="deployHistoryList">
    <div class="page-content">
        <div class="pull-left">
            <label>NameSvrAddrList:</label>
        </div>
        <div class="pull-left" >
            <select name="namesvrAddrList" multiple chosen
                    ng-model="namesvrAddrList"
                    ng-options="item for item in namesvrAddrList" required>
                <option value=""></option>
            </select>
        </div>
        <div class="pull-left" >
            <label>NameSvrAddr:</label>
            <input type="text" ng-model="nameSvrAddr">
        </div>
        <div class="pull-left" >
            <button class="btn btn-raised btn-sm btn-primary" type="button" ng-click="addNameSvrAddr()">AddNameSvrAddr</button>
        </div>
    </div>
</div>
