/* Write your styles */
.scrollTo {
    position: fixed;
    right: 50px;
    bottom: 70px;
    z-index: 999;
}

/*.icon_u_c{background:url(/app/img/icon_user_center.png) no-repeat left top;}*/
.icon {
     float: left;
     width: 24px;
     height: 24px;
     display: inline-block;
     margin: 10px 18px 0 5px;
}
.icon_alipay {
    background:url("/style/img/alipay.png") no-repeat left top;
    height:100px;
    width: 100px;
    margin-top: -40px;
}

.icon_alipay_active {
    background:url("/style/img/alipay_active.png") no-repeat left top;
    height:100px;
    width: 100px;
    margin-top: -40px;
}

.icon_weipay {
    background:url("/style/img/weipay.png") no-repeat left top;
    height:100px;
    width: 100px;
    margin-top: -40px;
}

.icon_weipay_active {
    background:url("/style/img/weipay_active.png") no-repeat left top;
    height:100px;
    width: 100px;
    margin-top: -40px;
}

.round {
    background:#5bc0de;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius:5px;
    color: #FFFFFF;
}


/* ANIMATIONS
============================================================================= */

/* leaving animations ----------------------------------------- */
/* rotate and fall */
@keyframes rotateFall {
    0%     { transform: rotateZ(0deg); }
    20%   { transform: rotateZ(10deg); animation-timing-function: ease-out; }
    40%   { transform: rotateZ(17deg); }
    60%   { transform: rotateZ(16deg); }
    100%   { transform: translateY(100%) rotateZ(17deg); }
}

/* slide in from the bottom */
@keyframes slideOutLeft {
    to     { transform: translateX(-100%); }
}

/*!* rotate out newspaper *!*/
@keyframes rotateOutNewspaper {
    to     { transform: translateZ(-3000px) rotateZ(360deg); opacity: 0; }
}

/* entering animations --------------------------------------- */
/* scale up */
@keyframes scaleUp {
    from   { opacity: 0.3; -webkit-transform: scale(0.8); }
}

/* slide in from the right */
@keyframes slideInRight {
    from   { transform:translateX(100%); }
    to     { transform: translateX(0); }
}

/* slide in from the bottom */
@keyframes slideInUp {
    from   { transform:translateY(100%); }
    to     { transform: translateY(0); }
}

.ng-enter       { animation: scaleUp 0.5s both ease-in; z-index: 8888; }
.ng-leave       { animation: slideOutLeft 0.2s both ease-in; z-index: 9999; }




.managerList {
    list-style:none;
    position: relative;
    width: 100%;
    margin-left: 20px;
}

.managerList > li {
    width: 95%;
    margin-top:10px;
}

.managerList ul {
    list-style-type:none;
    float:left;
    padding: 0;
}

.managerList li {
    list-style-type:none;
    float:left;
    padding: 0;
}

.managerList .head {
    width: 90%;
}

.managerList .footer {
    width: 90%;
    margin-top: 10px;
    margin-left: 50px;
}

.managerList .checkbox {
    width: 50px;
}

.managerList .liCheck {
    width: 50px;
}

.managerList .liContent {
    width: 90%;
}

.managerList .preview {
    width: 50%;
    margin-left: 50px;
    margin-top: 10px;
}

.managerList .logo {
    margin-top: 9px;
    width: 50px;
}

.managerList .content{
    width: 50%;
}

.managerList .content ul{
    width: 90%;
}

.managerList .butt{
    /*width: 20%;*/
}

.badgeCustomer {
    background-color:#f44336;
    margin-top:23px;
}

.chatPanel {
    width: 90%;
    float: left;
    border: 1px solid #d4d4d4;
    border-radius: 2px;
    padding: 20px;
    position: relative;
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    float: right;
}

.chatPanel:after{
    position: absolute;
    top: 27px;
    right: -14px;
    display: inline-block;
    border-top: 14px solid transparent;
    border-left: 14px solid #fff;
    border-right: 0 solid #fff;
    border-bottom: 14px solid transparent;
    content: " ";
}

.chatPanel:before{
    position: absolute;
    top: 26px;
    right: -15px;
    display: inline-block;
    border-top: 15px solid transparent;
    border-left: 15px solid #ccc;
    border-right: 0 solid #ccc;
    border-bottom: 15px solid transparent;
    content: " ";
}

.chatPanel-left {
    float: left;
}
.chatPanel-left:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
}
.chatPanel-left:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
}

.xxs-avatar {
    width: 10px;
    height: 10px;
}


.xs-avatar {
    width: 50px;
    height: 50px;
}

.md-avatar {
    width: 70px;
    height: 70px;
}

.lg-avatar {
    width: 100px;
    height: 100px;
}

.text-truncate {
    word-wrap: normal;
    /* for IE */
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.text-yellow {
    color:#FFCC66;
}

.label-xl{
    font-size:150%;
}

.pointer {
    cursor: pointer;
}

.limit_height{
    height: 600px;overflow-y:auto;overflow-x:hidden;
}

.table.text-middle>tbody>tr>td,.table.text-middle>tbody>tr>th{
    vertical-align: middle;
}
