[Unit]
Description=rocketmq namesrv service
After=network.target

[Service]
Type=simple

ExecStart=/bin/bash -c 'source /etc/profile && {{ rocketmq_deploy_path }}/rocketmq/bin/mqnamesrv'
ExecStop=/bin/bash -c 'source /etc/profile && {{ rocketmq_deploy_path }}/rocketmq/bin/mqshutdown namesrv'
RemainAfterExit=yes

Restart=always
RestartSec=5s
[Install]
WantedBy=multi-user.target